#bga-zoom-wrapper {
  position: relative;
}

#bga-zoom-wrapper .bga-zoom-inner {
  transform-origin: left top;
}

#bga-zoom-wrapper .bga-zoom-inner[data-smooth=true] {
  transition: transform 0.5s;
}

#bga-zoom-wrapper #bga-zoom-controls {
  position: absolute;
  top: 0;
}

#bga-zoom-wrapper #bga-zoom-controls[data-position=top-left] {
  left: 0;
}

#bga-zoom-wrapper #bga-zoom-controls[data-position=top-right] {
  right: 0;
}

#bga-zoom-wrapper #bga-zoom-controls button {
  border: 0;
}

#bga-zoom-wrapper #bga-zoom-controls button:not(.disabled) {
  cursor: pointer;
}

#bga-zoom-wrapper #bga-zoom-controls button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

#bga-zoom-wrapper #bga-zoom-controls .bga-zoom-out-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="65 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118C122.1,113.8 124.3,108.7 124.3,102.8C124.3,96.8 122.1,91.8 118,87.6C113.8,83.4 108.7,81.3 102.8,81.3C96.8,81.3 91.8,83.4 87.6,87.6C83.3,91.8 81.3,96.8 81.3,102.8C81.3,108.7 83.3,113.8 87.6,118C91.8,122.2 96.8,124.3 102.8,124.3C108.7,124.3 113.8,122.2 118,118" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118L132.3,132.3" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M114.5,102.1L90.8,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g></g></svg>');
}

#bga-zoom-wrapper #bga-zoom-controls .bga-zoom-in-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M23.8,102.1L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L47.5,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L35.7,90.3" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M51,118C55.2,113.8 57.3,108.7 57.3,102.8C57.3,96.8 55.2,91.8 51,87.6C46.8,83.4 41.7,81.3 35.8,81.3C29.9,81.3 24.8,83.4 20.6,87.6C16.4,91.8 14.3,96.8 14.3,102.8C14.3,108.7 16.4,113.8 20.6,118C24.8,122.2 29.9,124.3 35.8,124.3C41.7,124.3 46.8,122.2 51,118" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,113.9L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M65.3,132.3L51,118" style="fill:none;fill-rule:nonzero;stroke:black;stroke-width:7px;"/></g></g></svg>');
}

#bga-zoom-wrapper #bga-zoom-controls[data-color=white] .bga-zoom-out-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="65 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118C122.1,113.8 124.3,108.7 124.3,102.8C124.3,96.8 122.1,91.8 118,87.6C113.8,83.4 108.7,81.3 102.8,81.3C96.8,81.3 91.8,83.4 87.6,87.6C83.3,91.8 81.3,96.8 81.3,102.8C81.3,108.7 83.3,113.8 87.6,118C91.8,122.2 96.8,124.3 102.8,124.3C108.7,124.3 113.8,122.2 118,118" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M118,118L132.3,132.3" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-4.97116,-76.2244)"><path d="M114.5,102.1L90.8,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g></g></svg>');
}

#bga-zoom-wrapper #bga-zoom-controls[data-color=white] .bga-zoom-in-icon {
  width: 40px;
  height: 40px;
  background: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 70 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"><g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M23.8,102.1L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L47.5,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,102.1L35.7,90.3" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M51,118C55.2,113.8 57.3,108.7 57.3,102.8C57.3,96.8 55.2,91.8 51,87.6C46.8,83.4 41.7,81.3 35.8,81.3C29.9,81.3 24.8,83.4 20.6,87.6C16.4,91.8 14.3,96.8 14.3,102.8C14.3,108.7 16.4,113.8 20.6,118C24.8,122.2 29.9,124.3 35.8,124.3C41.7,124.3 46.8,122.2 51,118" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M35.7,113.9L35.7,102.1" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g><g transform="matrix(1,0,0,1,-7.91703,-76.2244)"><path d="M65.3,132.3L51,118" style="fill:none;fill-rule:nonzero;stroke:white;stroke-width:7px;"/></g></g></svg>');
}

body > .card {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.card {
  flex-shrink: 0;
}

.card[data-side=back] .card-sides {
  transform: rotateY(180deg);
}

.card .card-sides {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card .card-sides .card-side {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  transform-origin: center center;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.card .card-sides .card-side.front > * {
  pointer-events: none;
  user-select: none;
}

.card .card-sides .card-side.back {
  transform: rotateY(180deg);
}

.card .card-sides .card-side.back > * {
  pointer-events: none;
  user-select: none;
}

.card-stock.selectable .card:not(.disabled) {
  cursor: pointer;
}

.card-stock .card.selectable:not(.disabled) {
  cursor: pointer;
}

.card-stock.line-stock {
  display: flex;
  gap: var(--gap);
  flex-wrap: var(--wrap);
  flex-direction: var(--direction);
}

.card-stock.line-stock[data-center=true] {
  justify-content: center;
}

.card-stock.slot-stock {
  display: flex;
  gap: var(--gap);
  flex-wrap: var(--wrap);
  flex-direction: var(--direction);
}

.card-stock.slot-stock[data-center=true] {
  justify-content: center;
}

.card-stock.scrollable-stock {
  display: flex;
  gap: var(--button-gap);
}

.card-stock.scrollable-stock[data-scrollbar-visible=false] {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.card-stock.scrollable-stock[data-scrollbar-visible=false]::-webkit-scrollbar {
  display: none;
}

.card-stock.scrollable-stock .scrollable-stock-inner {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: var(--gap);
}

.card-stock.scrollable-stock .scrollable-stock-inner[data-center=true] {
  justify-content: center;
}

.card-stock.hand-stock {
  display: flex;
  justify-content: center;
}

.card-stock.hand-stock .card {
  transform: translateY(calc(var(--card-shift) * var(--hand-stock-middle-index-abs))) rotate(calc(var(--hand-stock-middle-index) * var(--card-inclination)));
}

.card-stock.hand-stock .card:not(:first-child) {
  margin-left: calc(-1 * var(--card-overlap));
}

.card-stock.manual-position-stock {
  position: relative;
}

.card-stock.manual-position-stock .card {
  position: absolute;
}

.card-stock.void-stock {
  position: relative;
}

.card-stock.void-stock .card {
  position: absolute;
}

.card-stock.deck {
  position: relative;
  width: var(--width);
  height: var(--height);
}

.card-stock.deck > .card {
  position: absolute;
  top: calc(var(--thickness) * var(--xShadowShift) * -1);
  left: calc(var(--thickness) * var(--yShadowShift) * -1);
}

.card-stock.deck > .card:first-child {
  box-shadow: calc(var(--thickness) * var(--xShadowShift)) calc(var(--thickness) * var(--yShadowShift)) 0px 0px #111, calc(var(--thickness) * var(--xShadowShift)) calc(var(--thickness) * var(--yShadowShift)) 2px 1px rgba(0, 0, 0, 0.5);
}

.card-stock.deck[data-empty=true] > .card {
  visibility: hidden;
}

.card-stock.all-visible-deck {
  position: absolute;
  --tile-count: 1;
  width: calc(var(--width) + var(--tile-count) * var(--shift));
  transition: height 0.5s ease-in-out, background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  opacity: var(--tile-count);
}

.card-stock.all-visible-deck > * {
  position: absolute;
  margin: 0;
  transition: left 0.5s ease-in-out, top 0.5s ease-in-out;
  top: calc(var(--shift) * var(--order));
  left: calc(var(--shift) * var(--order));
}

.card-stock.all-visible-deck:hover, .card-stock.all-visible-deck:active, .card-stock.all-visible-deck.opened {
  height: calc((var(--height) + var(--shift)) * var(--tile-count) - var(--shift));
  z-index: 1;
}

.card-stock.all-visible-deck:hover > *, .card-stock.all-visible-deck:active > *, .card-stock.all-visible-deck.opened > * {
  top: calc((var(--height) + var(--shift)) * var(--order));
}

.card {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 152px;
  margin: 5px;
  border-radius: 10px;
  font-family: "p22_undergroundheavy";
}
.card.disabled {
  cursor: not-allowed;
  filter: contrast(0.6);
}
.card .card-sides .card-side {
  background-size: auto 100%;
  background-image: url("img/cards.jpg");
  border-radius: 10px;
}
.card .card-sides .card-side > * {
  pointer-events: none;
  user-select: none;
}
.card .card-sides .card-side.front {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 55pt;
  text-align: center;
}
.card .card-sides .card-side.front .center-number {
  padding-top: 10px;
}
.card .card-sides .card-side.front .corner-number {
  position: absolute;
  width: 25px;
  color: white;
  font-size: 13pt;
}
.card .card-sides .card-side.front .corner-number.left {
  top: 5px;
  left: 5px;
}
.card .card-sides .card-side.front .corner-number.right {
  top: 5px;
  right: 5px;
}
.card .card-sides .card-side.front .corner-number.rotated {
  transform: rotateZ(-180deg);
  bottom: 5px;
  right: 5px;
}
.card.selectable:not(.disabled) {
  cursor: pointer;
}
.card.selectable:not(.disabled):not(.selected) {
  animation: selectable-card-animation 1s alternate infinite ease-in-out;
}
.card.selectable:not(.disabled) .card-side {
  box-shadow: unset;
}
.card.selected:not(.disabled) {
  box-shadow: 0 0 5px 8px #e273f5;
}
.card.selected:not(.disabled) .card-side {
  box-shadow: unset;
}
.card[data-type="0"] .front {
  background: rgba(255, 255, 255, 0.3137254902);
}
.card[data-type="0"] .front .placeholder-text {
  font-size: 12pt;
  padding: 8px;
}
.card[data-type="1"][data-color="1"] .front {
  background-position-x: 14.2857142857%;
}
.card[data-type="1"][data-color="2"] .front {
  background-position-x: 28.5714285714%;
}
.card[data-type="1"][data-color="3"] .front {
  background-position-x: 42.8571428571%;
}
.card[data-type="1"][data-color="4"] .front {
  background-position-x: 57.1428571429%;
}
.card[data-type="2"][data-number="3"] .front {
  background-position-x: 71.4285714286%;
}
.card[data-type="2"][data-number="4"] .front {
  background-position-x: 85.7142857143%;
}
.card[data-type="2"][data-number="5"] .front {
  background-position-x: 100%;
}
.card[data-number="100"] .front .center-number {
  font-size: 45pt;
}

@keyframes selectable-card-animation {
  0% {
    box-shadow: 0 0 3px 2px #FFFFFF;
  }
  100% {
    box-shadow: 0 0 5px 3px #FFFFFF;
  }
}
.jackpot-animation {
  animation: jackpot-animation 2s alternate 1 ease-in-out;
}
.jackpot-animation[data-color="1"] {
  --card-color: #ED1B24;
}
.jackpot-animation[data-color="2"] {
  --card-color: #009BDE;
}
.jackpot-animation[data-color="3"] {
  --card-color: #3AB54A;
}
.jackpot-animation[data-color="4"] {
  --card-color: #FFC30D;
}

@keyframes jackpot-animation {
  50% {
    box-shadow: 0 0 5px 10px var(--card-color);
  }
  100% {
    box-shadow: unset;
  }
}
#table-center {
  font-family: "p22_undergroundheavy";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #655291;
  padding: 5px;
  border-radius: 15px;
  background: rgba(101, 82, 145, 0.4);
  min-width: 600px;
  margin: 5px;
  color: white;
  font-size: 16pt;
}
#table-center #market-title {
  margin-top: 20px;
  text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black;
}

#decks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#decks #deck {
  margin-right: 20px;
  background-size: auto 100%;
  background-image: url("img/cards.jpg");
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
}

.card-deck {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 152px;
  margin: 5px;
  border-radius: 10px;
  font-family: "p22_undergroundheavy";
}
.card-deck[data-count="0"] {
  box-shadow: unset;
  opacity: 0.5;
}
.card-deck .deck-counter {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black, 0 0 5px black, 0 0 6px black;
  font-size: 24pt;
}
.card-deck .deck-counter .counter {
  font-size: 30pt;
}
.card-deck .jackpot-token {
  width: 100px;
  height: 100px;
  position: absolute;
  margin-left: -50px;
  top: 0;
  left: 50%;
  background-size: auto 100%;
  background-image: url("img/jackpot-icons.png");
}
.card-deck .jackpot-token[data-color="1"] {
  background-position-x: 0%;
}
.card-deck .jackpot-token[data-color="2"] {
  background-position-x: 33.3333333333%;
}
.card-deck .jackpot-token[data-color="3"] {
  background-position-x: 66.6666666667%;
}
.card-deck .jackpot-token[data-color="4"] {
  background-position-x: 100%;
}

.player-board {
  background-color: white;
}
.player-board.spectator-mode * {
  background: white !important;
}

.counters {
  display: flex;
  align-items: center;
  margin: 5px 0;
}
.counters > div {
  flex: 1;
}
.counters .icon {
  margin-right: 5px;
}

.player-scored-card {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url("img/card-deck.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
}

.first-player-token-wrapper {
  position: relative;
}

.first-player-token {
  background-image: url("img/first-player.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  box-shadow: 1px 1px 3px 1px black;
}

.bet-tokens {
  display: flex;
  flex-wrap: wrap;
  padding-left: 12px;
  margin: 8px 0;
}
.bet-tokens .bet-token {
  background-image: url("img/bet-tokens.png");
  background-repeat: no-repeat;
  background-size: auto 200%;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  box-shadow: 1px 1px 3px 1px black;
  margin-left: -12px;
}
.bet-tokens .bet-token[data-value="3"] {
  background-position: 0% 0%;
}
.bet-tokens .bet-token[data-value="-3"] {
  background-position: 0% 100%;
}
.bet-tokens .bet-token[data-value="4"] {
  background-position: 50% 0%;
}
.bet-tokens .bet-token[data-value="-4"] {
  background-position: 50% 100%;
}
.bet-tokens .bet-token[data-value="5"] {
  background-position: 100% 0%;
}
.bet-tokens .bet-token[data-value="-5"] {
  background-position: 100% 100%;
}

.player-table {
  font-family: "p22_undergroundheavy";
  width: 100%;
  position: relative;
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.5333333333);
  border-radius: 15px;
  margin: 5px;
  font-size: 16pt;
  color: white;
}
.player-table .name-wrapper {
  color: var(--player-color);
  position: relative;
  display: flex;
  background: rgba(255, 255, 255, 0.5333333333);
  padding: 5px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  font-size: 20pt;
}
.player-table .block-with-text {
  display: flex;
}
.player-table .block-with-text .block-label {
  text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black;
  text-align: center;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  padding: 5px;
  text-overflow: ellipsis;
}
.player-table .block-with-text .block-label.your-line {
  margin-left: 5px;
}
.player-table .block-with-text > div:not(.block-label) {
  flex: 1;
}
.player-table .hand-wrapper {
  margin: 5px;
  background: rgba(255, 255, 255, 0.5333333333);
  border-radius: 10px;
}
.player-table .cards {
  min-height: 152px;
}

@font-face {
  font-family: "p22_undergroundheavy";
  src: url("img/p22underground-heavy-webfont.woff2") format("woff2"), url("img/p22underground-heavy-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* make space between buttons on touch devices */
@media (hover: none) {
  #page-title .action-button.bgabutton, #page-title .bgabutton {
    margin-bottom: 8px;
    margin-top: 8px;
  }
}
html, .mode_3d #game_play_area_background {
  background: url("img/background.jpg");
  background-position: top center;
  background-repeat: repeat;
}

#zoom-wrapper {
  position: relative;
}
#zoom-wrapper #zoom-controls {
  position: absolute;
  top: 0;
  right: 0;
}
#zoom-wrapper #zoom-controls button {
  width: 40px;
  height: 40px;
  background: url("img/zoom.svg");
  background-size: auto 220%;
}
#zoom-wrapper #zoom-controls button:not(.disabled) {
  cursor: pointer;
}
#zoom-wrapper #zoom-controls button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
#zoom-wrapper #zoom-controls #zoom-in {
  background-position: 6% 94%;
}
#zoom-wrapper #zoom-controls #zoom-out {
  background-position: 82% 94%;
}

#tables-and-center {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
  flex-direction: column;
}
#tables-and-center #tables {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: column;
}

@media (min-width: 1500px) {
  #tables-and-center {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: start;
  }
  #tables-and-center > div {
    flex: 1;
  }
}
.player-hand-card {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url("img/hand.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
}

.player-line-card {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url("img/card-line.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
}

.log [data-color="1"] {
  color: #ED1B24;
}
.log [data-color="2"] {
  color: #009BDE;
}
.log [data-color="3"] {
  color: #3AB54A;
}
.log [data-color="4"] {
  color: #FFC30D;
  text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black;
}
.log .jackpot-icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  background-size: auto 100%;
  background-image: url("img/jackpot-icons.png");
}
.log .jackpot-icon[data-color="1"] {
  background-position-x: 0%;
}
.log .jackpot-icon[data-color="2"] {
  background-position-x: 33.3333333333%;
}
.log .jackpot-icon[data-color="3"] {
  background-position-x: 66.6666666667%;
}
.log .jackpot-icon[data-color="4"] {
  background-position-x: 100%;
}
