#table-center {
    font-family: 'p22_undergroundheavy';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    border: 2px solid #655291;
    padding: 5px; 
    border-radius: 15px;
    background: #65529166;
    min-width: 600px;
    margin: 5px;
    color: white;
    font-size: 16pt;

    #market-title {
        margin-top: 20px;
        text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black;
    }
}

#decks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    gap: 10px;

    #deck {
        margin-right: 20px;
        background-size: auto 100%;
        background-image: url('img/cards.jpg');
        box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
    }
}

.card-deck {    
    display: inline-block;
    position: relative;
    width: 100px;
    height: 152px;
    margin: 5px;
    border-radius: 10px;
    font-family: 'p22_undergroundheavy';

    &[data-count="0"] {
        box-shadow: unset;
        opacity: 0.5;
    }

    .deck-counter {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black, 0 0 4px black, 0 0 5px black, 0 0 6px black;
        font-size: 24pt;

        .counter {
            font-size: 30pt;
        }
    }

    .jackpot-token {
        width: 100px;
        height: 100px;
        position: absolute;
        margin-left: -50px;
        top: 0;
        left: 50%;
        background-size: auto 100%;
        background-image: url('img/jackpot-icons.png');

        @for $color from 1 through 4 {
            &[data-color="#{$color}"] {
                background-position-x: #{($color - 1) * 100% / 3};
            }
        }
    }
}
